<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConsumerKey" value="w6VtdmhZzvgA4jx1dqtM7Bd11"/>
    <add key="ConsumerSecret" value="i2hgwzjaj2g1eyMwNPoNq3sqqONPl4whwMgLu5jsCUgLtPLSuM"/>
    <add key="AccessToken" value="895699778155065344-ZVlPJZx1DCcIoql3QX0OMkK1taoAXXd"/>
    <add key="AccessTokenSecret" value="JZw9QvUXRnfMoCCblZeIiHE7fdxdL9fySsHIdf16b5KFF"/>
  </appSettings>
</configuration>